<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacybeleid - Frituurzaak Het Smikkelhoekje</title>
    <style>
        .privacy-container {
            margin-bottom: 200px;
        }


        body {
            font-family: "Century Gothic", sans-serif;
            margin-bottom: 0px;
            padding: 0px; /* Voeg extra padding-bottom toe om ruimte onderaan de pagina toe te voegen */
            background-color: black;
            color: white;
        }

        header {
            text-align: center;
            background-color: black;
            padding: 20px;
            color: white;
        }

        h1 {
            font-size: 28px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
            margin-top: 20px;
        }

        h2 {
            font-size: 24px;
            margin-top: 20px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        hr {
            border: none;
            height: 2px;
            background-color: black;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="privacy-container">
        <header>
            <h1>Privacybeleid</h1>
        </header>

        <section>
            <hr>
            <h2>Onze toewijding aan uw privacy</h2>
            <hr>
            <p>Welkom bij de privacyverklaring van Het Smikkelhoekje. Bij Het Smikkelhoekje hechten we veel waarde aan de privacy van onze klanten en bezoekers. In dit privacybeleid leggen we uit welke persoonlijke informatie we verzamelen, hoe we deze gebruiken en beschermen, en welke rechten u heeft met betrekking tot uw gegevens.</p>
            <hr>
        </section>

        <section>
            <hr>
            <h2>Welke informatie verzamelen we?</h2>
            <hr>
            <p>Wij verzamelen mogelijk persoonlijke informatie zoals uw naam en e-mailadres wanneer u contact met ons opneemt of een bestelling plaatst. Daarnaast verzamelen we mogelijk ook gegevens over uw gebruik van onze website, zoals uw IP-adres en browsertype.</p>
            <hr>
        </section>

        <!-- Voeg hier meer secties toe om uw privacybeleid verder te specificeren -->

        <section>
            <hr>
            <h2>Contactgegevens</h2>
            <hr>
            <p>Als u vragen heeft over ons privacybeleid of uw persoonlijke gegevens wilt bijwerken of verwijderen, neem dan contact met ons op:</p>
            <address>
                Het Smikkelhoekje<br>
                Adres: 1234 AB Plaatsnaam<br>
                Telefoon: 0123-456789<br>
                E-mail: info@HetSmikkelhoekje.nl
            </address>
            <hr>
        </section>
    </div>
</body>
</html>
